*
!*/
!*.bat
!*.c
!*.cpp
!*.cs
!*.csproj
!*.css
!*.cur
!*.def
!*.gif
!*.h
!*.hpp
!*.htm
!*.html
!*.ico
!*.ini
!*.inl
!*.js
!*.js.map
!*.lua
!*.m2t
!*.manifest
!*.md
!*.png
!*.ps1
!*.py
!*.rc
!*.sh
!*.sln
!*.ttf
!*.txt
!*.vbs
!*.vcxproj
!*.vcxproj.filters
!*.xaml
!*.xml
!.gitignore
!/Document/Patch/*.diff
!/Document/Patch/*.patch
!/EpgTimerSrv/EpgTimerSrv/*.a
!/EpgTimerSrv/EpgTimerSrv/*.lib
!EMPTY
!Makefile
Debug/
Release/
obj/
