h1, h2 {
  font-size: medium;
}

dd {
  border-left: 0.2em solid #ccc;
  margin-left: 0.3em;
  padding-left: 0.5em;
}

table {
  border: 1px outset #888;
}

th, td {
  border: 1px inset #888;
}

#footer {
  margin-top: 1em;
  margin-bottom: 2em;
}

#result {
  font-weight: bold;
}

.page-nav {
  margin-bottom: 0.5em;
}

.scrambles {
  background: #ff0;
  color: #000;
}

.drops {
  background: #f00;
  color: #fff;
}

.disabled {
  background: #ccc;
  color: #000;
}

.partially {
  background: #ff0;
  color: #000;
}

.shortage {
  background: #f00;
  color: #fff;
}

.epg-table {
  border: 0;
  border-spacing: 0;
}

.epg-row-head > th {
  border: 1px solid #aaa;
  min-width: 148px;
  vertical-align: bottom;
  width: 148px;
}

.epg-row-tail > th {
  border: 1px solid #aaa;
  min-width: 148px;
  vertical-align: top;
  width: 148px;
}

.epg-row-head > td, .epg-row-tail > td {
  border: 0;
}

.epg-col-head {
  border: 0;
  padding: 1px 0 0 0;
  vertical-align: top;
}

.epg-col-head > div {
  background: #bbf;
  border: 1px solid #aaa;
  color: #000;
  text-align: center;
}

.epg-col {
  background: #aaa;
  border: 0;
  font-size: small;
  vertical-align: top;
  width: 148px;
}

.epg-col > div {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0;
  color: #000;
  overflow: auto;
  width: 150px;
}

.epg-col > div > b {
  background: #f00;
  color: #fff;
}

.cont-0 {
  background: #ffffe0;
}

.cont-1 {
  background: #e6e6fa;
}

.cont-2 {
  background: #fff0f5;
}

.cont-3 {
  background: #ffe4e1;
}

.cont-4 {
  background: #f0fff0;
}

.cont-5 {
  background: #e0ffff;
}

.cont-6 {
  background: #ffefd5;
}

.cont-7 {
  background: #ffc0cb;
}

.cont-8 {
  background: #ffffe0;
}

.cont-9 {
  background: #ffefd5;
}

.cont-10 {
  background: #f0f8ff;
}

.cont-11 {
  background: #f0f8ff;
}

.cont-15 {
  background: #f5f5f5;
}

.cont-12, .cont-13, .cont-14, .cont-16 {
  background: #fff;
}

.past {
  opacity: 0.5;
}
